* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

body {
    font-family: "Roboto", sans-serif;
}

p {
    font-size: 1rem; /* 16px */
    line-height: 1.9rem; 
}

a {
    text-decoration: none;
}

.main-container {
    width: 1100px;
    margin: 0 auto;
}

/* button */
.btn {
    padding: 1rem 1.5rem;
    background: white;
    border: 1.5px solid black;
    cursor: pointer;
}

/* title */
.pre-title {
text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: grey;
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 1rem;
}

.pre-title::before {
    content: "";
    width: 20px;
    height: 1px;
    background: black;
    position: absolute;
    left: 0;
    top: 50%;
}

/* logo dan navbar menu? */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    transition: 0.2s ease-in-out;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
    margin-left: 2rem;
}

.logo a {
    color: black;
}

nav ul li a {
    color: black;
}

/* Home Section */
#home {
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.home-name {
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 0 1rem;
    color: black;
}

.home-right img {
    width: 400px;
    border-radius: 0.5rem;
}

.home-right {
    display: flex;
    justify-content: center;
}

section {
    padding-left: 3rem;
    padding-bottom: 5rem;
}